<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>    
    <!-- Contoso Tenant -->
    <add key="ClientId" value="" />
    <add key="TenantId" value="" />
    <add key="CertSubjectName" value="CN=exodemo@contoso.com" />
    <add key="RedirectUri" value="contoso://exodemo" />
    <!--<add key="Scopes" value="https://outlook.office.com/EWS.AccessAsUser.All"/>-->
    <add key="Scopes" value="https://graph.microsoft.com/Mail.Read https://graph.microsoft.com/Mail.Read.Shared"/>
    <add key="Username" value="" />
    <add key="mailboxUser" value="" />
  </appSettings>
</configuration>